<head>
    <style>
     body { max-width: 900px; margin: 2em auto; line-height: 1.5; font-size: 24px; }
     p { font-family: Helvetica Neue, sans-serif; }
    </style>
</head>

<body>
    <p>pipe your command line to the web.</p>
    <pre>
$ some --long running --job | nc <%= Hermit.Config.host %> <%= Hermit.Config.sink_port %>
$ (sleep 5; htop) | tee &gt;(nc <%= Hermit.Config.host %> <%= Hermit.Config.sink_port %>)

<%= Hermit.Config.base_url <> "/v/pipe_id" %>      terminal js view
<%= Hermit.Config.base_url <> "/p/pipe_id" %>      plain text view
    </pre>

    <p><a href="https://github.com/erik/hermit">fork me</a></p>
</body>
